.appLayout {
    display: grid;
    grid-template-columns: 350px calc(100% - 350px);
    align-items: flex-start;
    height: 100%;
}

@media  all and (max-width: 1280px) {
    .appLayout {
        display: flex;
        flex-direction: column;

    }
}