:root {
  --color-white: #fff;
  --color-black: #0F1419;
  --color-purple: #5B19E7;
  --color-grey: #F5F7F8;
  --color-grey1: #EFF3F4
}

html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--color-white);
}

body {
  line-height: 1.5; 
  color: var(--color-black);
  background: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}