.navPageLink {
    font-size: 16px;
    border-bottom: 4px solid color(--color-purple);

    &:hover,
    &:active,
    &.active {
        font-weight: 700;
    }
}

.navPageLinkActive {
    border-bottom: 4px solid color(--color-purple);
}