.appHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blockTop {
    display: flex;
    align-items: center;
    gap: 16px;
}

.blockTopLink {
    display: flex;
}

@media all and (max-width: 1280px) {
    .appHeader {
        padding: 16px 0;
    }
}